@charset "UTF-8";
:root {
  --black-color: #000000;
  --white-color: #FFFFFF;
  --grey-color: #EEEEEE;
  --border-color: #ECECEC;
  --opacity-white-color: rgba(255, 255, 255, 0.6);
  --first-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196F3;
  --first-background-color: #E5E5E5;
  --second-background-color: #2F303A;
  --filter-btn-color: #F5F4FA;
  --hover-btn-color: #188CE8;
  --bg-gradient: rgba(47, 48, 58, 0.4);
  --border-client: #AFB1B8;
  --icon-color-first: #AFB1B8;
  --social-opacity: rgba(250, 250, 250, 0.1);
  --card-gap: 30px;
  --card-item: 3;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --form-color: #757575;
  --border-check: #212121;
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --footer-placeholder-color: rgba(255, 255, 255, 0.6);
  --body-font-family: Roboto, sans-serif;
  --logo-font-family: Raleway, sans-serif;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-gap);
}

.card-set-item {
  flex-basis: calc((100% - (var(--card-item) - 1) * var(--card-gap)) / var(--card-item));
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.section__title {
  margin-bottom: 50px;
  color: var(--first-text-color);
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
.section--color {
  background-color: var(--filter-btn-color);
}

body {
  color: var(--first-text-color);
  font-family: var(--body-font-family);
  letter-spacing: 0.03em;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.not-padding {
  padding-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  color: var(--first-text-color);
}

.text {
  color: var(--second-text-color);
}

.logo {
  color: var(--black-color);
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo--acсent {
  color: var(--accent-color);
}
.logo--white {
  display: block;
  margin-bottom: 20px;
  margin-right: 156px;
  color: var(--white-color);
}

.nav {
  display: flex;
}
.nav__item {
  position: relative;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--timing-function);
  color: var(--first-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav__link--current {
  color: var(--accent-color);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}
.nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact__item:not(:last-child) {
  margin-right: 50px;
}
.contact--link__mail, .contact--link__tel {
  transition: color 250ms var(--timing-function);
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: inline-flex;
  align-items: center;
}
.contact--link__mail:hover, .contact--link__tel:hover, .contact--link__mail:focus, .contact--link__tel:focus {
  color: var(--accent-color);
}
.contact__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact--icon__mail, .contact--icon__tel {
  display: block;
  margin-right: 10px;
  cursor: pointer;
  fill: currentColor;
}

.btn {
  min-width: 200px;
  min-height: 50px;
  transition: background-color 250ms var(--timing-function);
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.btn:hover, .btn:focus {
  background-color: var(--hover-btn-color);
}

.backdrop {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--backdrop-color);
  opacity: 1;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
  width: 528px;
  background: var(--white-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__btn--close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: none;
  color: var(--white-color);
  cursor: pointer;
  fill: var(--black-color);
  transition: fill 250ms var(--timing-function);
}
.modal__btn--close:hover {
  fill: var(--accent-color);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(30deg);
}

.form {
  width: 448px;
}
.form__title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
}
.form__wrap .form__field:not(:last-child) {
  margin-bottom: 10px;
}
.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms var(--timing-function);
}
.form__input, .form__area {
  margin: 0;
  padding: 11px 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.form__input {
  max-height: 40px;
  padding-left: 42px;
  transition: border-color 250ms var(--timing-function);
}
.form__area {
  width: 100%;
  height: 120px;
  resize: none;
  transition: border-color 250ms var(--timing-function);
}
.form__area::placeholder {
  color: var(--placeholder-color);
}
.form__area::placeholder, .form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}
.form__label {
  display: block;
  margin-bottom: 4px;
  text-align: left;
  color: var(--form-color);
}
.form__input:focus, .form__area:focus {
  border-color: var(--accent-color);
}
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

/* Checkbox */
.check {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.check__label {
  display: flex;
  align-items: center;
}
.check__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--form-color);
}
.check__link--acсent {
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  outline: none;
}
.checkbox__icon {
  display: inline-block;
  margin-right: 7px;
  border: 2px solid var(--border-check);
  border-radius: 2px;
  fill: transparent;
}
.checkbox:focus + .checkbox__icon {
  border: 2px solid var(--accent-color);
}
.checkbox:checked + .checkbox__icon {
  border-color: transparent;
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.social {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 44px;
  height: 44px;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  border-radius: 50%;
  color: var(--icon-color-first);
  cursor: pointer;
}
.social__btn:hover, .social__btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.add-bg {
  background-color: var(--social-opacity);
  color: var(--white-color);
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  color: var(--white-color);
}
.address__link--mail, .address__link--tel {
  color: var(--opacity-white-color);
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-footer__input {
  padding: 15px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  color: var(--white-color);
}
.form-footer__input::placeholder {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--footer-placeholder-color);
}
.form-footer__btn {
  display: flex;
  justify-content: center;
}
.form-footer__icon {
  fill: currentColor;
  margin-left: 10px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter__wrap:not(:last-child) {
  margin-right: 8px;
}
.filter__btn {
  padding: 6px 25px;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  color: var(--first-text-color);
  background-color: var(--filter-btn-color);
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
}
.filter__btn:hover, .filter__btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12);
}

.header {
  background-color: var(--white-color);
  border-bottom: 1px solid var(--border-color);
}
.header__container {
  display: flex;
}
.header__wrap {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 93px;
}

.hero {
  padding-bottom: 200px;
  padding-top: 200px;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--second-background-color);
  background-image: linear-gradient(to right, var(--bg-gradient), var(--bg-gradient)), url("../images/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.hero__title {
  margin-bottom: 30px;
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.features {
  flex-wrap: nowrap;
}
.features__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--filter-btn-color);
}
.features__item {
  width: 270px;
}
.features__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features__text {
  font-size: 14px;
  line-height: 1.7;
}

.work {
  flex-wrap: nowrap;
}
.work__pic {
  position: relative;
}
.work__title {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding: 27px 0;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}

.team {
  flex-wrap: nowrap;
}
.team__list {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  background-color: var(--white-color);
}
.team__wrap {
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
}
.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
}

.client {
  flex-wrap: nowrap;
}
.client__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms var(--timing-function), fill 250ms var(--timing-function);
  background: none;
  cursor: pointer;
  width: 170px;
  height: 92px;
  border: 1px solid var(--border-client);
  border-radius: 4px;
  fill: var(--icon-color-first);
}
.client__btn:hover, .client__btn:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-background-color);
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__social {
  margin-right: 93px;
}
.footer__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product__link {
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}
.product__link:hover, .product__link:focus {
  color: var(--accent-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product__wrap {
  position: relative;
  overflow: hidden;
}
.product__description {
  font-size: 18px;
  line-height: 1.55;
  color: var(--white-color);
}
.product__description--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
  display: inline-block;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}
.product__link:hover .product__description--overlay {
  transform: translateY(0);
  opacity: 1;
}
.product__content {
  border: 1px solid var(--grey-color);
  border-top: none;
  padding: 20px 24px;
}
.product__name {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.product__text {
  font-size: 16px;
  line-height: 1.9;
}

/*# sourceMappingURL=main.css.map */
