.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-background-color);
  text-align: center;
  @include mq(desk) {
    text-align: unset;
  }


  &__container {
    @include mq(desk) {
      display: flex;
      align-items: baseline;
    }
  }

  &__address {
    @include mq(mob-only) {
      margin-bottom: 60px;
    }
    @include mq(tab) {
      margin-right: 165px;
    }
    @include mq(desk) {
      margin-right: 85px;
    }
  }


  &__social {
    @include mq(mob-only) {
      margin-bottom: 60px;
    }
    @include mq(desk) {
      margin-right: 93px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    @include mq(desk) {
      text-align: unset;
    }
  }

  &__wrap {
    @include mq(tab-only) {
      margin-bottom: 60px;
    }
    @include mq(tab) {
      display: flex;
      align-items: baseline;
      justify-content: center;
    }
  }
}




