.contact {
  display: none;
  @include mq(tab-only){
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
  }

  @include mq(desk){
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__item:not(:last-child) {
    @include mq(tab-only){
      margin-bottom: 10px;
    }
    @include mq(desk){
      margin-right: 30px;
    }
  }

  &--link {
    &__mail,
    &__tel {
      transition: color 250ms var(--timing-function);
      color: var(--second-text-color);
      display: inline-flex;
      align-items: center;
      font-weight: 500;
      letter-spacing: 0.02em;

      @include mq(tab){
        font-size: 12px;
        line-height: 1.2;
      }
      @include mq(desk){
        font-size: 14px;
        line-height: 1.14;
      }
    }





    &__mail:hover,
    &__tel:hover,
    &__mail:focus,
    &__tel:focus {
      color: var(--accent-color);
    }
  }

  @include mq(desk){
    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }


  &--icon {
    &__mail,
    &__tel {
      display: block;
      margin-right: 10px;
      cursor: pointer;
      fill: currentColor;
    }
  }
}

