.logo {
  color: var(--black-color);
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  &--acсent {
    color: var(--accent-color);
  }

  &--white {
    display: block;
    margin-bottom: 20px;
    margin-right: 156px;
    color: var(--white-color);
  }
}


