body {
  color: var(--first-text-color);
  font-family: var(--body-font-family);
  letter-spacing: 0.03em;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.not-padding {
  @include mq(desk) {
    padding-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.title {
  color: var(--first-text-color);
}

.text {
  color: var(--second-text-color);
}