.section {
  padding-bottom: 60px;
  padding-top: 60px;
  @include mq(desk) {
    padding-bottom: 94px;
    padding-top: 94px;
  }

  &__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.2;
    text-align: center;
    color: var(--first-text-color);
    @include mq(desk) {
      margin-bottom: 50px;
      font-size: 36px;
    }
  }

  &--color {
    background-color: var(--filter-btn-color);
  }
}

